.transaction {
  display: flex;
  flex-flow: column;
  gap: 8px;
  margin: 14px 0px;
  background: #ddd;
  border-radius: 6px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  color: #222;
  padding: 6px;
}

.transactionBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transactionTime {
  display: flex;
  flex-flow: column;
  gap: 4px;
  text-align: right;
}

.transaction h3 {
  font-size: 22px;
  margin: 0;
}

.transaction p {
  font-size: 18px;
  margin: 0;
}

.transaction > * {
  margin: 10px 0;
}
